<h1 id="about">About Us</h1>
<div class="content" id="foursquare">
	<section id="topleft">
		<a href="http://localhost/pri/wp-content/uploads/2013/11/L_Parker_Exterior_MG_8753.jpg"><img src="http://localhost/pri/wp-content/uploads/2013/11/L_Parker_Exterior_MG_8753-200x200.jpg" alt="L_Parker_Exterior_MG_8753" width="200" height="200" class="alignnone size-thumbnail wp-image-124" /></a>
	</section>
	<section id="topright">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in magna rutrum, mollis ligula nec, euismod tortor. Ut scelerisque est sit amet volutpat eleifend. Sed ultrices vestibulum ligula vel cursus. Quisque blandit neque et nisi sodales euismod. Fusce aliquam mauris nisl, quis placerat odio vestibulum vitae. Nulla quis pharetra sem. Proin eget vestibulum ligula. Vivamus facilisis placerat leo, eget viverra nulla dapibus id.</p>
	</section>
	<section id="bottomleft">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in magna rutrum, mollis ligula nec, euismod tortor. Ut scelerisque est sit amet volutpat eleifend. Sed ultrices vestibulum ligula vel cursus. Quisque blandit neque et nisi sodales euismod. Fusce aliquam mauris nisl, quis placerat odio vestibulum vitae. Nulla quis pharetra sem. Proin eget vestibulum ligula. Vivamus facilisis placerat leo, eget viverra nulla dapibus id.</p>
	</section>
	<section id="bottomright">
		<img href="{{template_directory}}/images/logo.png" alt="PRI" />
	</section>
</div>
