<h1>Contact Us</h1>
<div class="container content">
	<h3>Send us an email</h3>
	<p>Parker &amp; Company<br />
	99 Mill Hill Road<br />
	Southport, CT 06890<br />
	p. 203.256.2742<br />
	f. 203.256.2748<br />
	<form>
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="email" placeholder="Email Address">
		<textarea name="message" placeholder="Message"></textarea>
		<input type="button" value="Submit" />
	</form>
</div>