<!DOCTYPE html>
<head>
    <title>{{{blog_title}}}</title>

    <meta charset="{{charset}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
	
    <link rel="shortcut icon" href="{{template_directory}}/favicon.ico" />

	<link rel="stylesheet" href="{{template_directory}}/css/skeleton.css">
	<link rel="stylesheet" href="{{template_directory}}/css/supersized.css">
	<link rel="stylesheet" href="{{template_directory}}/css/style.css">
	<link rel="stylesheet" href="{{template_directory}}/css/supersized.shutter.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{template_directory}}/js/jquery.easing.min.js"></script>
		
	<script type="text/javascript" src="{{template_directory}}/js/supersized.3.2.7.min.js"></script>
	<script type="text/javascript" src="{{template_directory}}/js/supersized.shutter.min.js"></script>
	
	