</head>
<body>
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
<header>

	<div class="sixteen columns nav-bar main-nav">
	<ul>
		<li><a href="localhost/pri"><img src="{{template_directory}}/images/logo.png" alt="logo"></a></li>
		<li>Gallery
		<ul>
			<li><a href="{{template_directory}}/projects.php">Projects</a></li>
			<li><a href="{{template_directory}}/press.php">Press</a></li>		
		</ul>
		</li>
		<li><a href="{{template_directory}}/about.php">About</a></li>
		<li><a href="{{template_directory}}/contact.php">Contact</a></li>
	</ul>
	</div>
	
</header>
