<!DOCTYPE html>
<head>
    <title>{{{blog_title}}}</title>

    <meta charset="{{charset}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="shortcut icon" href="{{template_directory}}/img/favicon.ico" />

	<link rel="stylesheet" href="{{template_directory}}/css/skeleton.css">
	<link rel="stylesheet" href="{{template_directory}}/css/style.css">


	
	