</head>
<body>
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>
<header>
	<div class="sixteen columns nav-bar main-nav">
	<ul>
		<li><a href="#"><img src="{{template_directory}}/images/logo.png" alt="logo"></a></li>
		<li>Gallery
		<ul>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Press</a></li>		
		</ul>
		</li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	</div>
</header>
