</head>
<body>
<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>

<a href="/pri" class="homebutton"><img src="http://localhost/pri/wp-content/uploads/2013/11/PRI_logo_web.png" alt="home" /></a>