<!DOCTYPE html>
<head>
    <title>{{{blog_title}}}</title>

    <meta charset="{{charset}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
	
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- favicons -->
    <link rel="shortcut icon" href="{{template_directory}}/favicon.ico" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{template_directory}}/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{template_directory}}/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{template_directory}}/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{template_directory}}/apple-touch-icon-precomposed.png">
	
	<link rel="stylesheet" href="{{template_directory}}/css/skeleton.css">
	<link rel="stylesheet" href="{{template_directory}}/css/supersized.css">
	<link rel="stylesheet" href="{{template_directory}}/css/style.css">
	<link rel="stylesheet" href="{{template_directory}}/theme/supersized.shutter.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{template_directory}}/js/jquery.easing.min.js"></script>
		
	<script type="text/javascript" src="{{template_directory}}/js/supersized.3.2.7.min.js"></script>
	<script type="text/javascript" src="{{template_directory}}/theme/supersized.shutter.min.js"></script>
	
	<script type="text/javascript">			
			jQuery(function($){				
				$.supersized({
				
					// Functionality					
					slide_interval      :   100000,		// Length between transitions
					transition          :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
					transition_speed	:	700,		// Speed of transition
															   
					// Components							
					slide_links			:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
					slides 				:  	[			// Slideshow Images
												{image : '{{template_directory}}/images/bg_1.jpg'},
												{image : '{{template_directory}}/images/bg_2.jpg'},
												{image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-1.jpg'},
												{image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-2.jpg'},  
												{image : 'http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-3.jpg'},
											]					
				}); //supersized
		    });	//jQuery	    
	</script>
	
	