<h1>Projects</h1>
<section id="gallery">
	{{#posts}}
		{{{content}}}
	{{/posts}}
</section>
<script type="text/javascript">
		jQuery(function($){				
			$.supersized({
					
				// Functionality					
				slide_interval      :   100000,		// Length between transitions
				transition          :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
				transition_speed	:	700,		// Speed of transition
																   
				// Components							
				slide_links			:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
				slides 				:  	[			// Slideshow Images
											{image : 'http://localhost/pri/wp-content/uploads/2013/11/bg_black_1.jpg'},
											{image : 'http://localhost/pri/wp-content/uploads/2013/11/bg_1.jpg'},																	
										]					
			}); //supersized
		});	//jQuery
	</script>