/* **************CUSTOM FONTS************** */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,200);

/* **************CSS RESET************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **************CUSTOM CSS************** */
body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background: #efe6ab;
	background-image: url('../images/bg_1.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
	margin: 0 auto;
}
.homebutton {
	float: left;
	padding: 10px;
}
.menu ul, .menu li{
	display: inline;
}

.menu a {
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;	
	line-height: 60px;
	display: inline;
}

.menu a:hover {
	background: #fff;
	color: #000;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 2em;
	margin: 0 auto 20px auto;
	padding: 10px;
	max-width: 180px;	
	/* Fallback for web browsers that don't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
}

h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 3em;
	margin: 250px 0;
	padding: 10px;
	/* Fallback for web browsers that don't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
}

/* Home Page CSS */
#homebox {
	width: 480px;
	margin: 320px auto;
}

/* Projects/Press Page CSS */
#gallery {
	width: 640px;
	height: 640px;
	margin: 0 auto;
	overflow: scroll;
	overflow-x: hidden;
	padding: 10px;
	/* Fallback for web browsers that don't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
}

#gallery img {
	padding: 10px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#gallery img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
}

#gallery p {
	display: inline;
}

#gallery div {
	float: left;
	padding: 0 10px 10px 0;
}

/* About Page CSS */
#about {
	width: 144px;
	margin: 20px auto;
}
 /*for about and contact pages */
#foursquare {
    width: 640px;
    min-height: 640px;
    margin: 0 auto;
    display: block;
	padding: 10px;
	/* Fallback for web browsers that don't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
}

#topleft {
	width: 300px;
	height: 300px;
    margin: 10px;
    display: block;
    float: left;
}

#topright {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: block;
    float: left;
}

#bottomleft {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: block;
    float: left;
    clear: left;
}

#bottomright {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: block;
    float: left;   
}

/* Contact Page CSS */
#contact {
	width: 170px;
	margin: 20px auto;
}

#contactbox{
	width: 640px;
    height: 640px;
    margin: 0 auto;
    padding: 10px;
    display: block;
	overflow: scroll;
	overflow-x: hidden;
}


#contactleft {
    margin: 10px;
    display: block;
	
}

#contactright {
    margin: 10px;
    display: block;
	line-height: 20px;
	text-align: right;
	float:right;
}

h3 {
	font-size: 1.7em;
	margin-bottom: 40px;
}

input{
	display: block;
	margin-bottom: 40px;
	margin-top: 5px;
}

form input[type=text]{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	padding: 3px;
	
}

form textarea {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
	background: none;
	border: none;
	border: 1px solid #666;
	padding: 3px;
	width: 610px;
	margin-bottom: 20px;
	min-width: 300px;	
	height: 100px;
	resize: none;
	margin-top: 5px;
}

form input[type=submit]{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #fff;
	background: #4CBB17;
	border: none;
	padding: 5px 10px;
}

/* Footer */
footer {
	text-align: center;
	padding: 20px 0;
}